# DAT210x - Programming with Python for DS

## Module6- Lab6

In [1]:
import pandas as pd
import time
import numpy as np

/usr/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/usr/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

### How to Get The Dataset

Grab the DLA HAR dataset from:

- http://groupware.les.inf.puc-rio.br/har
- http://groupware.les.inf.puc-rio.br/static/har/dataset-har-PUC-Rio-ugulino.zip
- A cached copy of the dataset is included in the course repository.

After extracting it out, load up the dataset into dataframe named `X` and do your regular dataframe examination:

In [2]:
X=pd.read_csv('Datasets/dataset-har-PUC-Rio-ugulino.csv',sep=';')
X

/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,user,gender,age,how_tall_in_meters,weight,body_mass_index,x1,y1,z1,x2,y2,z2,x3,y3,z3,x4,y4,z4,class
0,debora,Woman,46,"1,62",75,"28,6",-3,92,-63,-23,18,-19,5,104,-92,-150,-103,-147,sitting
1,debora,Woman,46,"1,62",75,"28,6",-3,94,-64,-21,18,-18,-14,104,-90,-149,-104,-145,sitting
2,debora,Woman,46,"1,62",75,"28,6",-1,97,-61,-12,20,-15,-13,104,-90,-151,-104,-144,sitting
3,debora,Woman,46,"1,62",75,"28,6",-2,96,-57,-15,21,-16,-13,104,-89,-153,-103,-142,sitting
4,debora,Woman,46,"1,62",75,"28,6",-1,96,-61,-13,20,-15,-13,104,-89,-153,-104,-143,sitting
5,debora,Woman,46,"1,62",75,"28,6",-2,95,-62,-14,19,-16,-13,104,-89,-153,-104,-142,sitting
6,debora,Woman,46,"1,62",75,"28,6",1,100,-62,-10,22,-12,-13,104,-90,-151,-104,-143,sitting
7,debora,Woman,46,"1,62",75,"28,6",-1,97,-63,-13,20,-15,-12,104,-88,-151,-104,-142,sitting
8,debora,Woman,46,"1,62",75,"28,6",-1,98,-63,-14,19,-17,-13,104,-90,-152,-103,-144,sitting
9,debora,Woman,46,"1,62",75,"28,6",0,98,-61,-11,22,-13,-13,104,-90,-151,-104,-144,sitting
10,debora,Woman,46,"1,62",75,"28,6",-1,95,-60,-13,19,-17,-13,105,-89,-150,-104,-144,sitting
11,debora,Woman,46,"1,62",75,"28,6",3,100,-59,-10,22,-13,-13,104,-90,-150,-103,-144,sitting
12,debora,Woman,46,"1,62",75,"28,6",0,96,-61,-14,20,-15,-12,105,-88,-149,-104,-145,sitting
13,debora,Woman,46,"1,62",75,"28,6",0,97,-61,-14,20,-17,-13,104,-90,-149,-104,-146,sitting
14,debora,Woman,46,"1,62",75,"28,6",0,97,-60,-13,21,-14,-12,105,-89,-149,-104,-145,sitting
15,debora,Woman,46,"1,62",75,"28,6",-1,96,-61,-13,19,-17,-13,104,-89,-149,-106,-145,sitting
16,debora,Woman,46,"1,62",75,"28,6",2,99,-60,-10,22,-12,-13,104,-90,-150,-103,-145,sitting
17,debora,Woman,46,"1,62",75,"28,6",0,96,-62,-14,20,-15,-12,105,-89,-150,-104,-144,sitting
18,debora,Woman,46,"1,62",75,"28,6",0,97,-61,-14,19,-16,-13,105,-89,-148,-102,-146,sitting
19,debora,Woman,46,"1,62",75,"28,6",0,98,-63,-12,21,-13,-13,104,-89,-148,-105,-146,sitting
20,debora,Woman,46,"1,62",75,"28,6",-1,95,-62,-15,19,-17,-13,104,-89,-144,-105,-143,sitting
21,debora,Woman,46,"1,62",75,"28,6",1,99,-62,-11,22,-13,-14,104,-90,-146,-106,-145,sitting
22,debora,Woman,46,"1,62",75,"28,6",-3,96,-62,-14,20,-16,-12,105,-88,-154,-108,-138,sitting
23,debora,Woman,46,"1,62",75,"28,6",-1,97,-62,-14,19,-17,-13,105,-90,-146,-109,-139,sitting
24,debora,Woman,46,"1,62",75,"28,6",1,97,-61,-11,21,-14,-13,104,-90,-148,-112,-142,sitting
25,debora,Woman,46,"1,62",75,"28,6",-3,96,-63,-16,19,-17,-13,104,-90,-155,-101,-141,sitting
26,debora,Woman,46,"1,62",75,"28,6",3,100,-61,-8,23,-12,-13,104,-90,-157,-97,-142,sitting
27,debora,Woman,46,"1,62",75,"28,6",-4,95,-63,-15,19,-17,-13,105,-89,-169,-96,-143,sitting
28,debora,Woman,46,"1,62",75,"28,6",1,100,-63,-10,22,-13,-14,104,-91,-177,-99,-133,sitting
29,debora,Woman,46,"1,62",75,"28,6",0,96,-64,-13,20,-16,-13,105,-88,-189,-104,-141,sitting
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165603,jose_carlos,Man,75,"1,67",67,"24,0",-39,147,-198,4,133,-40,-79,136,-28,-188,-95,-157,walking
165604,jose_carlos,Man,75,"1,67",67,"24,0",7,109,-154,15,98,-69,-99,229,42,-181,-85,-147,walking
165605,jose_carlos,Man,75,"1,67",67,"24,0",-18,110,-138,-4,97,-99,-109,170,-96,-186,-95,-154,walking
165606,jose_carlos,Man,75,"1,67",67,"24,0",3,112,-139,8,95,-74,-123,226,-117,-191,-74,-152,walking
165607,jose_carlos,Man,75,"1,67",67,"24,0",-3,69,-180,-33,105,-105,-43,168,-127,-197,-39,-144,walking
165608,jose_carlos,Man,75,"1,67",67,"24,0",-35,71,-187,-47,91,-93,2,189,-127,-169,-27,-146,walking
165609,jose_carlos,Man,75,"1,67",67,"24,0",-26,120,-153,-31,106,-95,199,174,-152,-192,-77,-147,walking
165610,jose_carlos,Man,75,"1,67",67,"24,0",13,66,-181,-46,93,-86,-47,159,-128,-206,-44,-142,walking
165611,jose_carlos,Man,75,"1,67",67,"24,0",-22,106,-189,-27,131,-76,-142,180,-57,-205,-113,-147,walking
165612,jose_carlos,Man,75,"1,67",67,"24,0",8,114,-174,-36,86,-112,13,170,-130,-172,-106,-123,walking
165613,jose_carlos,Man,75,"1,67",67,"24,0",-7,99,-139,-22,78,-104,11,179,-78,-197,-96,-135,walking
165614,jose_carlos,Man,75,"1,67",67,"24,0",-14,117,-155,-23,98,-85,-126,161,-70,-184,-108,-154,walking
165615,jose_carlos,Man,75,"1,67",67,"24,0",-6,103,-157,-6,95,-117,5,120,-127,-194,-77,-159,walking
165616,jose_carlos,Man,75,"1,67",67,"24,0",-17,84,-157,-10,83,-122,4,116,-117,-198,-76,-156,walking
165617,jose_carlos,Man,75,"1,67",67,"24,0",-11,87,-153,-7,87,-115,8,117,-114,-202,-81,-162,walking
165618,jose_carlos,Man,75,"1,67",67,"24,0",-4,88,-158,1,88,-98,10,119,-119,-190,-73,-160,walking
165619,jose_carlos,Man,75,"1,67",67,"24,0",-8,85,-154,-3,94,-106,13,123,-117,-194,-79,-163,walking
165620,jose_carlos,Man,75,"1,67",67,"24,0",1,92,-154,-2,84,-104,12,121,-128,-198,-79,-165,walking
165621,jose_carlos,Man,75,"1,67",67,"24,0",-1,91,-154,-5,72,-83,9,118,-122,-200,-80,-164,walking
165622,jose_carlos,Man,75,"1,67",67,"24,0",-2,94,-147,6,73,-89,9,118,-120,-201,-78,-165,walking
165623,jose_carlos,Man,75,"1,67",67,"24,0",-3,96,-147,6,81,-90,15,120,-118,-200,-80,-166,walking
165624,jose_carlos,Man,75,"1,67",67,"24,0",-10,94,-149,-10,87,-95,12,121,-117,-189,-81,-159,walking
165625,jose_carlos,Man,75,"1,67",67,"24,0",-8,94,-150,-8,89,-104,14,119,-101,-193,-77,-153,walking
165626,jose_carlos,Man,75,"1,67",67,"24,0",-6,96,-142,-2,91,-103,14,121,-102,-194,-78,-156,walking
165627,jose_carlos,Man,75,"1,67",67,"24,0",-13,94,-150,-13,88,-98,16,120,-99,-194,-79,-157,walking
165628,jose_carlos,Man,75,"1,67",67,"24,0",2,93,-148,-8,88,-100,15,120,-100,-189,-77,-160,walking
165629,jose_carlos,Man,75,"1,67",67,"24,0",-1,94,-147,-17,87,-99,17,121,-99,-190,-78,-158,walking
165630,jose_carlos,Man,75,"1,67",67,"24,0",-10,93,-143,-19,86,-104,0,114,-101,-185,-80,-153,walking
165631,jose_carlos,Man,75,"1,67",67,"24,0",-15,86,-152,-19,88,-117,-44,155,-25,-185,-84,-156,walking
165632,jose_carlos,Man,75,"1,67",67,"24,0",-14,86,-144,-18,85,-107,-3,114,-128,-210,-88,-148,walking

In [3]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165633 entries, 0 to 165632
Data columns (total 19 columns):
user                  165633 non-null object
gender                165633 non-null object
age                   165633 non-null int64
how_tall_in_meters    165633 non-null object
weight                165633 non-null int64
body_mass_index       165633 non-null object
x1                    165633 non-null int64
y1                    165633 non-null int64
z1                    165633 non-null int64
x2                    165633 non-null int64
y2                    165633 non-null int64
z2                    165633 non-null int64
x3                    165633 non-null int64
y3                    165633 non-null int64
z3                    165633 non-null int64
x4                    165633 non-null int64
y4                    165633 non-null int64
z4                    165633 non-null object
class                 165633 non-null object
dtypes: int64(13), object(6)
memory usage: 24.0+ MB

Encode the gender column such that: `0` is male, and `1` as female:

In [4]:
X['gender']=X.gender.map({'Man':0,'Woman':1})

Clean up any columns with commas in them so that they're properly represented as decimals:

In [5]:
X['how_tall_in_meters']=X['how_tall_in_meters'].str.replace(',', '')
X['body_mass_index']=X['body_mass_index'].str.replace(',', '')
X['how_tall_in_meters']=X['how_tall_in_meters'].astype(int)
X['body_mass_index']=X['body_mass_index'].astype(int)

Let's take a peek at your data types:

In [6]:
X.dtypes

user                  object
gender                 int64
age                    int64
how_tall_in_meters     int64
weight                 int64
body_mass_index        int64
x1                     int64
y1                     int64
z1                     int64
x2                     int64
y2                     int64
z2                     int64
x3                     int64
y3                     int64
z3                     int64
x4                     int64
y4                     int64
z4                    object
class                 object
dtype: object

Convert any column that needs to be converted into numeric use `errors='raise'`. This will alert you if something ends up being problematic.

In [7]:
X.z4.unique()

array([-147, -145, -144, -142, -143, -146, -138, -139, -141, -133, -134,
       -135, -140, -137, -148, -151, -149, -150, -152, -156, -157, -155,
       -154, -153, -158, -159, -162, -163, -161, -160, -164, -165, -136,
       -126, -125, -122, -132, -167, -170, -169, -175, -173, -166, -168,
       -171, -172, -174, -179, -177, -176, -127, -131, -184, -181, -178,
       -180, -106, -114, -116, -115, -89, -79, -93, -78, -128, -109, -113,
       -119, -102, -111, -103, -130, -129, -182, -121, -186, -183, -187,
       -190, -188, -189, -185, -192, -191, -193, -194, -197, -196, -201,
       -251, -195, -199, -198, -123, -124, -112, -118, -120, -99, -95,
       -68, -110, -117, -96, -100, -105, -92, -88, -107, -213, -108, -104,
       -98, -94, -91, -97, -69, -101, -86, -82, -66, -77, -90, -56, -74,
       -83, -81, -219, -200, '-158', '-165', '-157', '-160', '-161',
       '-155', '-162', '-156', '-159', '-163', '-168', '-170', '-166',
       '-172', '-177', '-171', '-169', '-173', '-167', '-174', '-164',
       '-176', '-175', '-154', '-146', '-142', '-137', '-141', '-139',
       '-148', '-147', '-153', '-140', '-138', '-128', '-134', '-150',
       '-149', '-152', '-151', '-136', '-145', '-143', '-182', '-184',
       '-179', '-186', '-188', '-183', '-191', '-185', '-181', '-144',
       '-190', '-197', '-180', '-192', '-201', '-196', '-189', '-120',
       '-118', '-117', '-116', '-112', '-122', '-113', '-110', '-121',
       '-115', '-119', '-124', '-131', '-130', '-114', '-135', '-100',
       '-97', '-106', '-125', '-132', '-126', '-129', '-133', '-221',
       '-127', '-123', '-109', '-200', '-199', '-178', '-104', '-111',
       '-187', '-103', '-102', '-107', '-98', '-80', '-231', '-194',
       '-210', '-105', '-90', '-101', '-71', '-195', '-82', '-95', '-108',
       '-207', '-209', '-202', '-205', '-208', '-211', '-214', '-203',
       '-204', '-212', '-206', '-198', '-193', '-216', '-213', '-93',
       '-96', '-73', '-99', '-14420-11-2011 04:50:23.713', '-88', '-94',
       '-43', -202, -537, -205, -206, -210, -204, -203, -218, -215, -208,
       -212, -216, -207, -259], dtype=object)

In [8]:
X['z4']=pd.to_numeric(X['z4'],errors='raise')

ValueError: Unable to parse string "-14420-11-2011 04:50:23.713" at position 122076

If you find any problematic records, drop them before calling the `to_numeric` methods above.

In [9]:
X['z4']=X['z4'].replace('-14420-11-2011 04:50:23.713',np.nan)
print(X.shape)
X[pd.isnull(X).any(axis=1)]

(165633, 19)

,user,gender,age,how_tall_in_meters,weight,body_mass_index,x1,y1,z1,x2,y2,z2,x3,y3,z3,x4,y4,z4,class
122076,jose_carlos,0,75,167,67,240,-8,101,-120,-13,91,-101,17,123,-108,-207,-82,NaN,standingup

In [10]:
X.dropna(axis = 0,inplace=True)
print(X.shape)

(165632, 19)

In [11]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 165632 entries, 0 to 165632
Data columns (total 19 columns):
user                  165632 non-null object
gender                165632 non-null int64
age                   165632 non-null int64
how_tall_in_meters    165632 non-null int64
weight                165632 non-null int64
body_mass_index       165632 non-null int64
x1                    165632 non-null int64
y1                    165632 non-null int64
z1                    165632 non-null int64
x2                    165632 non-null int64
y2                    165632 non-null int64
z2                    165632 non-null int64
x3                    165632 non-null int64
y3                    165632 non-null int64
z3                    165632 non-null int64
x4                    165632 non-null int64
y4                    165632 non-null int64
z4                    165632 non-null object
class                 165632 non-null object
dtypes: int64(16), object(3)
memory usage: 25.3+ MB

In [12]:
X['z4']=X['z4'].astype(int)

Okay, now encode your `y` value as a Pandas dummies version of your dataset's `class` column:

In [13]:
y=pd.get_dummies(X['class'])

In fact, get rid of the `user` and `class` columns:

In [14]:
X.drop(['user','class'],axis=1,inplace=True)

Let's take a look at your handy-work:

In [15]:
X.describe()

,gender,age,how_tall_in_meters,weight,body_mass_index,x1,y1,z1,x2,y2,z2,x3,y3,z3,x4,y4,z4
count,165632.000000,165632.000000,165632.000000,165632.000000,165632.000000,165632.000000,165632.000000,165632.000000,165632.000000,165632.000000,165632.000000,165632.000000,165632.000000,165632.000000,165632.000000,165632.000000,165632.000000
mean,0.612044,38.264925,163.971201,70.819431,261.885348,-6.649319,88.293591,-93.164449,-87.827956,-52.065911,-175.055647,17.423517,104.517056,-93.881641,-167.641211,-92.625235,-159.650985
std,0.487286,13.183821,5.282045,11.296557,29.957814,11.616273,23.895881,39.409487,169.435606,205.160081,192.817111,52.635546,54.155987,45.389770,38.311336,19.968653,13.221020
min,0.000000,28.000000,158.000000,55.000000,220.000000,-306.000000,-271.000000,-603.000000,-494.000000,-517.000000,-617.000000,-499.000000,-506.000000,-613.000000,-702.000000,-526.000000,-537.000000
25%,0.000000,28.000000,158.000000,55.000000,220.000000,-12.000000,78.000000,-120.000000,-35.000000,-29.000000,-141.000000,9.000000,95.000000,-103.000000,-190.000000,-103.000000,-167.000000
50%,1.000000,31.000000,162.000000,75.000000,284.000000,-6.000000,94.000000,-98.000000,-9.000000,27.000000,-118.000000,22.000000,107.000000,-90.000000,-168.000000,-91.000000,-160.000000
75%,1.000000,46.000000,171.000000,83.000000,286.000000,0.000000,101.000000,-64.000000,4.000000,86.000000,-29.000000,34.000000,120.000000,-80.000000,-153.000000,-80.000000,-153.000000
max,1.000000,75.000000,171.000000,83.000000,286.000000,509.000000,533.000000,411.000000,473.000000,295.000000,122.000000,507.000000,517.000000,410.000000,-13.000000,86.000000,-43.000000

You can also easily display which rows have nans in them, if any:

In [16]:
X[pd.isnull(X).any(axis=1)]

Empty DataFrame
Columns: [gender, age, how_tall_in_meters, weight, body_mass_index, x1, y1, z1, x2, y2, z2, x3, y3, z3, x4, y4, z4]
Index: []

Create an RForest classifier named `model` and set `n_estimators=30`, the `max_depth` to 10, `oob_score=True`, and `random_state=0`:

In [17]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=30,max_depth=10, random_state=0, oob_score=True)

/home/akarsh/.local/lib/python3.6/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

Split your data into `test` / `train` sets. Your `test` size can be 30%, with `random_state` 7. Use variable names: `X_train`, `X_test`, `y_train`, and `y_test`:

In [18]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=7)

### Now the Fun Stuff

In [19]:
print("Fitting...")
s = time.time()

# TODO: train your model on your training set
model.fit(X_train,y_train)
# .. your code here ..

print("Fitting completed in: ", time.time() - s)

Fitting...
Fitting completed in:  19.22655725479126

Display the OOB Score of your data:

In [20]:
score = model.oob_score_
print("OOB Score: ", round(score*100, 3))

OOB Score:  98.744

In [21]:
print("Scoring...")
s = time.time()

# TODO: score your model on your test set
score=model.score(X_test,y_test)
# .. your code here ..

print("Score: ", round(score*100, 3))
print("Scoring completed in: ", time.time() - s)

Scoring...
Score:  95.687
Scoring completed in:  0.8542802333831787

At this point, go ahead and answer the lab questions, then return here to experiment more --

Try playing around with the gender column. For example, encode `gender` `Male:1`, and `Female:0`. Also try encoding it as a Pandas dummies variable and seeing what changes that has. You can also try dropping gender entirely from the dataframe. How does that change the score of the model? This will be a key insight on how your feature encoding alters your overall scoring, and why it's important to choose good ones.

In [ ]:
# .. your code changes above ..

After that, try messing with `y`. Right now its encoded with dummies, but try other encoding methods to what effects they have.